{{> header}}

{{!-- Formulario de addproduct --}}

{{!-- <form id="formAddProduct">

    <div class="form-floating col-md-3">
        <input type"text" class="form-control mb-9" id="title" placeholder="">
        <label for="floatingInput">Title</label>
    </div>
    <div class="form-floating col-md-3">
        <input type="text" class="form-control mb-6" id="description" placeholder="">
        <label for="floatingInput">Descripción</label>
    </div>
    <div class="form-floating col-md-3">
        <input type="number" class="form-control mb-6" id="price" placeholder="">
        <label for="floatingInput">Precio $ </label>
    </div>
    <div class="form-floating col-md-3">
        <input type="text" class="form-control mb-6" id="code" placeholder="">
        <label for="floatingInput">Código</label>
    </div>
    <div class="form-floating col-md-3">
        <input type="number" class="form-control mb-6" id="stock" placeholder="">
        <label for="floatingInput">Stock</label>
    </div>
    <div class="form-floating col-md-3">
        <input type="text" class="form-control mb-6" id="category" placeholder="">
        <label for="floatingInput">Categoría</label>
    </div>
    <div class="form-floating col-md-3">
        <input type="text" class="form-control mb-6" id="thumbnail" placeholder="">
        <label for="floatingInput">Imagen</label>
    </div>

    </div>
</form>
<br>
<div class="btnAddProd">
    <button type="submit" class="btn btn-primary btnAddProduct">Guardar</button>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/socketClient.js"></script> --}}

<div>
    <form id="addProductForm" enctype="multipart/form-data" action="/addProduct" method="post" class="needsValidation">

        <div class="form-floating col-md-3">
            <input type"text" class="form-control mb-9" id="title" name="title">
            <label for="floatingInput">Producto</label>
        </div>
        <div class="form-floating col-md-3">
            <input type="text" class="form-control mb-6" id="description" name="description">
            <label for="floatingInput">Descripción</label>
        </div>
        <div class="form-floating col-md-3">
            <input type="number" class="form-control mb-6" id="price" name="price">
            <label for="floatingInput">Precio $ </label>
        </div>
        <div class="form-floating col-md-3">
            <input type="text" class="form-control mb-6" id="code" name="code">
            <label for="floatingInput">Código</label>
        </div>
        <div class="form-floating col-md-3">
            <input type="number" class="form-control mb-6" id="stock" name="stock">
            <label for="floatingInput">Stock</label>
        </div>
        <div class="form-floating col-md-3">
            <input type="text" class="form-control mb-6" id="category" name="category">
            <label for="floatingInput">Categoría</label>
        </div>
        <div class="form-control col-md-3">
            <input type="file" class="form-control mb-6" id="file" name="file" accept="image/*">
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Agregar Producto</button>
        </div>
        
    </form>
</div>