<div id="contenedor">
    <div id="central">
        <div id="login">
            <div class="titulo">
                Bienvenido
            </div>
            <form id="loginform" action="/api/session/login" method="POST">
                <input type="email" name="email" placeholder="Email" required>

                <input type="password" placeholder="Password" name="password" required>

                <button type="submit" title="Ingresar" name="Ingresar">Login</button>
            </form>
            <div class="pie-form">
                {{!-- <a href="#">¿Perdiste tu contraseña?</a> --}}
                <a href="/register">¿No tienes Cuenta? <b>Regístrate</b></a>
            </div>

            <div>
                <a href="/github">
                    <button type="button">
                        Login with <i class="bi bi-github"></i>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>